node_modules/
.next/
out/
build/
.env
.env*.local
.env.production
*.log
.DS_Store
.vercel
coverage/
playwright-report/
test-results/
/prisma/*.db
*.zip
*.tsbuildinfo
android/build/
android/app/build/
android/**/*.apk
android/**/*.aab
